<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @boring_airline.Content %>
</p>

<%= link_to 'Edit', edit_boring_airline_path(@boring_airline) %> |
<%= link_to 'Back', boring_airlines_path %>
